ul li {
  list-style: none;
}

.h3-styles {
  font-size:16px;
  font-weight:300;
  width:calc(100% - 80px);
  font-size:18px;
}

.ftco-section {
	padding-top: 4em;
}

.text-red-1 {
  color: rgb(206, 1, 1);
}

.text-red-2 {
  color: red;
  font-size:16px;
  font-weight:300;
  width:calc(100% - 80px);
  font-size:18px
}

.bebidas-space{
  margin-bottom: 0;
}

.bebidas-list {
  font-family: "Poppins",Arial,sans-serif;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 300;
  color: gray;
}

.ml-auto {
  align-items: flex-start;
}

@media (min-width: 992px) {
  ul li {
    display: none;
  }
  .navbar-nav {
    display: none;
  }
  .ftco-intro .wrap .info {
    width: 100%;
	}
  .ftco-intro {
      margin-top: 0;
  }
}

@media (min-width: 768px) {
  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .ml-auto {
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media (max-width: 320px) {
  .nav-link{
    padding: .1rem;
    margin: 0px 1px;
  }
}
